parameters:
    paths:
        - src
        - tests
    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: property.unusedType
            path: src/Entity/*
