{% extends 'base.html.twig' %}

{% block title %}Recover Access | {{ accessing_product_name }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="h4">Request password recovery</h1>
                    {{ form_start(form) }}
                        {{ form_row(form.emailAddress) }}
                        <button class="btn btn-primary">Issue recovery code</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
