{% extends 'base.html.twig' %}

{% block title %}Confirm Phone Verification | {{ accessing_product_name }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="h4">Confirm phone verification</h1>
                    {{ form_start(form) }}
                        {{ form_row(form.code) }}
                        <button class="btn btn-primary">Confirm phone ownership</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
